<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="pay" class="cn.itrip.util.WXPayConfig">
		<property name="appID" value="wx83042729f42494f6"/>
		<property name="mchID" value="1496893892"/>
		<property name="key" value="6c101469fb56170c358cf2f19d6e88c4"/>
		<property name="notifyUrl" value="http://354465l6d6.qicp.vip/trade/Pay2"></property>
		<property name="money" value="1"/>
		<property name="title" value="房屋租赁费用" />
	</bean>

	<!-- 注解的扫描包 记住不能用* -->
	<context:component-scan base-package="cn.itrip"/>
	<!-- mvc驱动 -->
	<mvc:annotation-driven/>
	<mvc:default-servlet-handler />
</beans>